- Se instalan pandas, fastapi y uvicorn para la ejecución de los dataframes.

In [ ]:
%pip install pandas
%pip install fastapi
%pip install uvicorn

- Se importa pandas para poder trabajar con este módulo en el código.


- Se importa glob para poder listar las rutas de los archivos que serán utilizados.

In [1]:
import pandas as pd
import glob

- Se define la ruta de los archivos '.csv' en la PC como una variable de tipo STR.

- Utilizando el módulo 'glob' se hace un listado de la ruta de cada archivo en la carpeta 'MLOpsReviews' que termine en '.csv'

- Se definen tres (3) listas vacías para por medio de un for loop eliminar las partes de la ruta que no son el nombre de la plataforma.

- Finalmente se convierten los guiones bajos '_' por espacios para utilizarlos al crear la columna de cada plataforma.

In [2]:
csv_files = 'Platforms\\*.csv'

files_names = glob.glob(csv_files)

x_ = []
t_ = []
xt = []
titles = []

for x in range(len(files_names)):
    x_.append(files_names[x].replace('C:\\Users\\USER\\Documents\\Python\\SoyHenry\\MLOpsReviews\\Platforms\\', ''))
    t_.append(x_[x].replace('_titles.csv', ''))
    xt.append(t_[x].replace('Platforms\\', ''))
    titles.append(xt[x].replace('_', ' '))
titles

['amazon prime', 'disney plus', 'hulu', 'netflix']

- Se define la variable de cada dataframe utilizando la variable 'files_names' en la función 'read_csv' de pandas.

In [3]:
df_amazon = pd.read_csv(files_names[0])
df_disney = pd.read_csv(files_names[1])
df_hulu = pd.read_csv(files_names[2])
df_netflix = pd.read_csv(files_names[3])

- Se verifican los dataframes definidos anteriormente.

In [4]:
df_disney.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...

In [5]:
df_hulu.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."

In [6]:
df_amazon.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...

In [7]:
df_netflix.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."

- Se buscan datos diferentes a clasificación en los dataframes.

In [8]:
df_disney['rating'].unique()

array(['TV-G', 'PG', 'TV-PG', nan, 'PG-13', 'TV-14', 'G', 'TV-Y7', 'TV-Y',
       'TV-Y7-FV'], dtype=object)

In [9]:
df_hulu['rating'].unique()

array(['TV-MA', nan, 'PG-13', 'R', 'TV-14', 'PG', 'TV-PG', 'NOT RATED',
       'G', 'TV-G', '2 Seasons', 'TV-Y', '93 min', '4 Seasons', 'TV-Y7',
       '136 min', '91 min', '85 min', '98 min', '89 min', '94 min',
       '86 min', '3 Seasons', '121 min', '88 min', '101 min', '1 Season',
       '83 min', '100 min', '95 min', '92 min', '96 min', '109 min',
       '99 min', '75 min', '87 min', '67 min', '104 min', '107 min',
       '84 min', '103 min', '105 min', '119 min', '114 min', '82 min',
       '90 min', '130 min', '110 min', '80 min', '6 Seasons', '97 min',
       '111 min', '81 min', '49 min', '45 min', '41 min', '73 min',
       '40 min', '36 min', '39 min', '34 min', '47 min', '65 min',
       '37 min', '78 min', '102 min', '129 min', '115 min', '112 min',
       'NR', '61 min', '106 min', '76 min', '77 min', '79 min', '157 min',
       '28 min', '64 min', '7 min', '5 min', '6 min', '127 min',
       '142 min', '108 min', '57 min', '118 min', '116 min', '12 Seasons',
       '71 min'], dtype=object)

In [10]:
df_amazon['rating'].unique()

array([nan, '13+', 'ALL', '18+', 'R', 'TV-Y', 'TV-Y7', 'NR', '16+',
       'TV-PG', '7+', 'TV-14', 'TV-NR', 'TV-G', 'PG-13', 'TV-MA', 'G',
       'PG', 'NC-17', 'UNRATED', '16', 'AGES_16_', 'AGES_18_', 'ALL_AGES',
       'NOT_RATE'], dtype=object)

In [11]:
df_netflix['rating'].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR', nan,
       'TV-Y7-FV', 'UR'], dtype=object)

- Se hace un conteo de los datos de tipo 'duration' en las columnas 'rating' y 'duration' de los dataframes de HULU y de NEFLIX. Esto con el fin de saber cuántos datos deben pasar de la columna 'rating' a la columna 'duration', y poder asegurarse de que el paso de los datos de una columna a la otra fue exitoso.

In [12]:
huluMin = df_hulu['rating'].str.contains('min').value_counts()[True]
huluMind = df_hulu['duration'].str.contains('min').value_counts()[True]
huluSea = df_hulu['rating'].str.contains('Season').value_counts()[True]
huluSead = df_hulu['duration'].str.contains('Season').value_counts()[True]
print(f'minutos r: {huluMin}, minutos d: {huluMind}, temporadas: {huluSea}, temporadas d: {huluSead}')

minutos r: 230, minutos d: 1005, temporadas: 62, temporadas d: 1589

In [13]:
netMin = df_netflix['rating'].str.contains('min').value_counts()[True]
netMind = df_netflix['duration'].str.contains('min').value_counts()[True]
print(f'minutos r: {netMin}, minutos d: {netMind}')

minutos r: 3, minutos d: 6128

- Se copian los datos de la columna 'rating' a la columna 'duration' de ambos dataframes.

- Se transforman los datos de la columna 'rating' que ya fueron copiados en la columna 'duration' en 'g' de clasificación para todos.

In [14]:
mask = df_hulu['duration'].isnull() & df_hulu['rating'].str.contains('min')
df_hulu.loc[mask, 'duration'] = df_hulu.loc[mask, 'rating']
masks = df_hulu['duration'].isnull() & df_hulu['rating'].str.contains('Season')
df_hulu.loc[masks, 'duration'] = df_hulu.loc[masks, 'rating']
mask2 = df_hulu['duration'].str.contains('min') & df_hulu['rating'].str.contains('min')
df_hulu.loc[mask2, 'rating'] = 'g'
masks3 = df_hulu['duration'].str.contains('Season') & df_hulu['rating'].str.contains('Season')
df_hulu.loc[masks3, 'rating'] = 'g'

In [15]:
mask = df_netflix['duration'].isnull() & df_netflix['rating'].str.contains('min')
df_netflix.loc[mask, 'duration'] = df_netflix.loc[mask, 'rating']
mask2 = df_netflix['duration'].str.contains('min') & df_netflix['rating'].str.contains('min')
df_netflix.loc[mask2, 'rating'] = 'g'

- Se revisa si la cantidad de datos en la columna 'duration' cambió, y si ya no existen los valores de 'duration' en la columna 'rating'

In [16]:
huluMind = df_hulu['duration'].str.contains('min').value_counts()[True]
huluSead = df_hulu['duration'].str.contains('Season').value_counts()[True]
print(f'minutos d: {huluMind}, temporadas d: {huluSead}')
df_hulu['rating'].unique()

minutos d: 1235, temporadas d: 1651

array(['TV-MA', nan, 'PG-13', 'R', 'TV-14', 'PG', 'TV-PG', 'NOT RATED',
       'G', 'TV-G', 'g', 'TV-Y', 'TV-Y7', 'NR'], dtype=object)

In [17]:
netMind = df_netflix['duration'].str.contains('min').value_counts()[True]
print(f'minutos d: {netMind}')
df_netflix['rating'].unique()

minutos d: 6131

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', 'g', 'NR', nan, 'TV-Y7-FV', 'UR'],
      dtype=object)

- Se crea una nueva columna en cada dataframe, cuyo título será 'id' que está compuesta por la inicial de la plataforma a la que pertenece y el valor de la columna 'show_id' existente en el dataframe.

In [18]:
df_disney.insert(loc=0, column='id', value='d' + df_disney['show_id'])
df_hulu.insert(loc=0, column='id', value='h' + df_hulu['show_id'])
df_amazon.insert(loc=0, column='id', value='a' + df_amazon['show_id'])
df_netflix.insert(loc=0, column='id', value='n' + df_netflix['show_id'])

- Se crea una columna con el nombre de cada plataforma en cada dataframe.

In [19]:
df_amazon['platform'] = titles[0]
df_disney['platform'] = titles[1]
df_hulu['platform'] = titles[2]
df_netflix['platform'] = titles[3]

- Se combinan los dataframes.

In [20]:
df_total = pd.concat([df_amazon, df_disney, df_hulu, df_netflix], axis=0)

- Se verifica el dataframe 'dt_total'.

In [21]:
df_total.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            22998 non-null  object
 1   show_id       22998 non-null  object
 2   type          22998 non-null  object
 3   title         22998 non-null  object
 4   director      14739 non-null  object
 5   cast          17677 non-null  object
 6   country       11499 non-null  object
 7   date_added    13444 non-null  object
 8   release_year  22998 non-null  int64
 9   rating        22134 non-null  object
 10  duration      22811 non-null  object
 11  listed_in     22998 non-null  object
 12  description   22994 non-null  object
 13  platform      22998 non-null  object
dtypes: int64(1), object(13)
memory usage: 2.6+ MB

- Se identifican los valores únicos en la columna rating

In [22]:
rating_unique = df_total['rating'].unique()
rating_unique

array([nan, '13+', 'ALL', '18+', 'R', 'TV-Y', 'TV-Y7', 'NR', '16+',
       'TV-PG', '7+', 'TV-14', 'TV-NR', 'TV-G', 'PG-13', 'TV-MA', 'G',
       'PG', 'NC-17', 'UNRATED', '16', 'AGES_16_', 'AGES_18_', 'ALL_AGES',
       'NOT_RATE', 'TV-Y7-FV', 'NOT RATED', 'g', 'UR'], dtype=object)

- Los valores nulos se cambian por 'g' de clasificación para todos.

In [23]:
df_total['rating'].fillna('g', inplace=True)

- Se definen variables para identificar y contar los valores nulos en la columna 'rating'.

In [24]:
df_null = df_total['rating'].isnull().sum()
df_null

0

- Se identifica el tipo de datos en la columna date_added de cada dataframe.

In [25]:
print(df_total['date_added'].dtype)

object

- Se convierten las fechas que están como str a datetime y se cambia el formato de la columna.

In [26]:
df_total['date_added'] = pd.to_datetime(df_total['date_added'])
df_total['date_added'] = df_total['date_added'].dt.strftime('%Y-%m-%d')
df_total['date_added'] = pd.to_datetime(df_total['date_added'])

- Se comprueba el cambio en el tipo de datos y se revisa la fecha en el dataframe.

In [27]:
print(df_total['date_added'].dtype)
df_total.head(2)

datetime64[ns]

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,platform
0,as1,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,2021-03-30,2014,g,113 min,"Comedy, Drama",A small fishing village must procure a local d...,amazon prime
1,as2,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,2021-03-30,2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,amazon prime

- Se verifican las columnas con datos vacíos para identificar cuáles pueden llegar a ser irrelevantes para este estudio.

In [28]:
df_filas = df_total.shape[0]

id_null = df_total['id'].isnull().sum()
showid_null = df_total['show_id'].isnull().sum()
type_null = df_total['type'].isnull().sum()
title_null = df_total['title'].isnull().sum()
director_null = df_total['director'].isnull().sum()
cast_null = df_total['cast'].isnull().sum()
country_null = df_total['country'].isnull().sum()
date_null = df_total['date_added'].isnull().sum()
release_null = df_total['release_year'].isnull().sum()
duration_null = df_total['duration'].isnull().sum()
listed_null = df_total['listed_in'].isnull().sum()
description_null = df_total['description'].isnull().sum()
type_null = df_total['type'].isnull().sum()
platform_null = df_total['platform'].isnull().sum()

print(f'rows: {df_filas}, \nid: {id_null},\nshow_id: {showid_null},\ntype: {type_null}, \ntitle: {title_null}, \ndirector: {director_null}, \ncast: {cast_null}, \ncountry: {country_null},\
       \ndate: {date_null}, \nrelease: {release_null}, \nduration: {duration_null}, \nlisted: {listed_null}, \ndescription: {description_null},\nplatform: {platform_null}')

rows: 22998,
id: 0,
show_id: 0,
type: 0,
title: 0,
director: 8259,
cast: 5321,
country: 11499,
date: 9554,
release: 0,
duration: 187,
listed: 0,
description: 4,
platform: 0

- Se eliminan las columnas 'director', 'country' y 'date_added' puesto que presentan una gran cantidad de valores nulos que podrían llegar a ensuciar la etapa de machine learning más adelante; 'description' y 'listed_in' que no presentan un valor de relevancia a la hora de realizar este estudio; y finalmente 'show_id' ya que fue reemplazada por la columna 'id'.

In [29]:
df_total = df_total.drop(['show_id', 'director', 'country', 'date_added', 'description', 'listed_in'], axis=1)
df_total.head(2)

,id,type,title,cast,release_year,rating,duration,platform
0,as1,Movie,The Grand Seduction,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",2014,g,113 min,amazon prime
1,as2,Movie,Take Care Good Night,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",2018,13+,110 min,amazon prime

- Se verifican las columnas que quedaron en el dataframe.

In [30]:
df_filas = df_total.shape[0]

id_null = df_total['id'].isnull().sum()
type_null = df_total['type'].isnull().sum()
title_null = df_total['title'].isnull().sum()
cast_null = df_total['cast'].isnull().sum()
release_null = df_total['release_year'].isnull().sum()
rating_null = df_total['rating'].isnull().sum()
duration_null = df_total['duration'].isnull().sum()

print(f'rows: {df_filas}, \nid: {id_null},\ntype: {type_null}, \ntitle: {title_null}, \ncast: {cast_null},\
       \nrelease: {release_null},\nrating: {rating_null} \nduration: {duration_null}')

rows: 22998,
id: 0,
type: 0,
title: 0,
cast: 5321,
release: 0,
rating: 0
duration: 187

- Se convierten todas las columnas con texto a minúsculas.

In [31]:
df_total[['id', 'type', 'title', 'cast', 'rating', 'duration']] = df_total[['id', 'type', 'title', 'cast', 'rating', 'duration']].apply(lambda x: x.str.lower())
df_total.head(2)

,id,type,title,cast,release_year,rating,duration,platform
0,as1,movie,the grand seduction,"brendan gleeson, taylor kitsch, gordon pinsent",2014,g,113 min,amazon prime
1,as2,movie,take care good night,"mahesh manjrekar, abhay mahajan, sachin khedekar",2018,13+,110 min,amazon prime

- Se identifican todos los valores existentes en la columna 'rating' para hacer una parametrización de los mismos.

In [32]:
df_total['rating'].unique()

array(['g', '13+', 'all', '18+', 'r', 'tv-y', 'tv-y7', 'nr', '16+',
       'tv-pg', '7+', 'tv-14', 'tv-nr', 'tv-g', 'pg-13', 'tv-ma', 'pg',
       'nc-17', 'unrated', '16', 'ages_16_', 'ages_18_', 'all_ages',
       'not_rate', 'tv-y7-fv', 'not rated', 'ur'], dtype=object)

- Se reducen a 6 categorías.

In [33]:
df_total['rating'] = df_total['rating'].replace(to_replace='pg', value='g', regex=True)
df_total['rating'] = df_total['rating'].replace(to_replace='not rated', value='g', regex=True)
df_total['rating'] = df_total['rating'].replace(to_replace='tv-g', value='g', regex=True)
df_total['rating'] = df_total['rating'].replace(to_replace='tv-y', value='g', regex=True)
df_total['rating'] = df_total['rating'].replace(to_replace='nr', value='g', regex=True)
df_total['rating'] = df_total['rating'].replace(to_replace='all', value='g', regex=True)
df_total['rating'] = df_total['rating'].replace(to_replace='ugated', value='g', regex=True)
df_total['rating'] = df_total['rating'].replace(to_replace='g_ages', value='g', regex=True)
df_total['rating'] = df_total['rating'].replace(to_replace='not_rate', value='g', regex=True)
df_total['rating'] = df_total['rating'].replace(to_replace='ur', value='g', regex=True)
df_total['rating'] = df_total['rating'].replace(to_replace=r'.*13.*', value='13+', regex=True)
df_total['rating'] = df_total['rating'].replace(to_replace=r'.*14.*', value='14+', regex=True)
df_total['rating'] = df_total['rating'].replace(to_replace=r'.*7.*', value='7+', regex=True)
df_total['rating'] = df_total['rating'].replace(to_replace=r'.*16.*', value='16+', regex=True)
df_total['rating'] = df_total['rating'].replace(to_replace=r'.*18.*', value='18+', regex=True)
df_total['rating'] = df_total['rating'].replace(to_replace=r'.*tv-ma.*', value='18+', regex=True)
df_total['rating'] = df_total['rating'].replace(to_replace=r'.*r.*', value='18+', regex=True)

df_total['rating'].unique()

array(['g', '13+', '18+', '7+', '16+', '14+', 'tv-g'], dtype=object)

In [34]:
df_total['rating'] = df_total['rating'].replace(to_replace='.*tv-g.*', value='g', regex=True)
df_total['rating'].unique()

array(['g', '13+', '18+', '7+', '16+', '14+'], dtype=object)

- Se crean dos nuevas columnas basadas en la columna 'duration' de tipo int y str.

In [35]:
df_total[['duration_int', 'duration_type']] = df_total['duration'].str.extract('(\d+) (\w+)', expand=True)
df_total.head(2)

,id,type,title,cast,release_year,rating,duration,platform,duration_int,duration_type
0,as1,movie,the grand seduction,"brendan gleeson, taylor kitsch, gordon pinsent",2014,g,113 min,amazon prime,113,min
1,as2,movie,take care good night,"mahesh manjrekar, abhay mahajan, sachin khedekar",2018,13+,110 min,amazon prime,110,min

- Se reemplaza el singular 'season' por el plural 'seasons' en los datos de la columna 'duration_type'

In [36]:
df_total['duration_type'] = df_total['duration_type'].replace('season', 'seasons')
df_total['duration_type'].unique()

array(['min', 'seasons', nan], dtype=object)

- Se cuentan los valores nulos en las columnas respectivas a la duración.

In [37]:
id_null = df_total['duration'].isnull().sum()
type_null = df_total['duration_int'].isnull().sum()
title_null = df_total['duration_type'].isnull().sum()

print(f'duration: {id_null},\nduration int: {type_null}, \nduration type: {title_null}')

duration: 187,
duration int: 187,
duration type: 187

- Se identifican los valores nulos de la columna 'duration' y se analiza si las columnas 'duration_int' y 'duration_tipe' también están nulos en sus respectivas filas.

In [38]:
null_mask = df_total['duration'].isnull()
new_rows = df_total.loc[null_mask]
new_rows.head(2)

,id,type,title,cast,release_year,rating,duration,platform,duration_int,duration_type
0,hs1,movie,ricky velez: here's everything,NaN,2021,18+,NaN,hulu,NaN,NaN
12,hs13,movie,out of the shadows: the man behind the steele ...,NaN,2021,g,NaN,hulu,NaN,NaN

- Se cambian las filas de las columnas 'cast', 'duration_int' y 'duration_type' que coincidan con estar vacías.

In [39]:
# df_total = df_total.dropna(subset=['duration', 'duration_int', 'duration_type'])
df_total['duration_int'].fillna(0, inplace=True)
df_total['duration_type'].fillna('sin dato', inplace=True)
df_total['cast'].fillna('sin dato', inplace=True)

- Se revisan de nuevo los valores nulos en la columna 'duration' para asegurarse de que fueron eliminadas dichas filas.

In [40]:
null_mask = df_total['duration'].isnull()
new_rows = df_total.loc[null_mask]
new_rows.head(2)

,id,type,title,cast,release_year,rating,duration,platform,duration_int,duration_type
0,hs1,movie,ricky velez: here's everything,sin dato,2021,18+,NaN,hulu,0,sin dato
12,hs13,movie,out of the shadows: the man behind the steele ...,sin dato,2021,g,NaN,hulu,0,sin dato

- Se elimina la columna 'duration', puesto que su información ya está en las dos columnas nuevas y esto la hace innecesaria.

In [41]:
df_total = df_total.drop('duration', axis=1)
df_total.head(2)

,id,type,title,cast,release_year,rating,platform,duration_int,duration_type
0,as1,movie,the grand seduction,"brendan gleeson, taylor kitsch, gordon pinsent",2014,g,amazon prime,113,min
1,as2,movie,take care good night,"mahesh manjrekar, abhay mahajan, sachin khedekar",2018,13+,amazon prime,110,min

- Se verifican las columnas que tengan valores nulos.

In [42]:
df_filas = df_total.shape

id_null = df_total['id'].isnull().sum()
type_null = df_total['type'].isnull().sum()
title_null = df_total['title'].isnull().sum()
cast_null = df_total['cast'].isnull().sum()
release_null = df_total['release_year'].isnull().sum()
duration_null = df_total['duration_type'].isnull().sum()

print(f'rows: {df_filas}, \nid: {id_null},\ntype: {type_null}, \ntitle: {title_null}, \ncast: {cast_null},\
       \nrelease: {release_null}, \nduration: {duration_null}')

rows: (22998, 9),
id: 0,
type: 0,
title: 0,
cast: 0,
release: 0,
duration: 0

- Se agregan los datasets de los ratings al igual que se hizo con los datasets de las plataformas.

In [43]:
csv_files = 'Ratings/*.csv'

files_names = glob.glob(csv_files)

x_ = []
t_ = []
titles = []

for x in range(len(files_names)):
    x_.append(files_names[x].replace('C:\\Users\\USER\\Documents\\Python\\SoyHenry\\MLOpsReviews\\Ratings\\', ''))
    t_.append(x_[x].replace('.csv', ''))
    titles.append(t_[x].replace('Ratings\\', ' '))
titles

[' 1', ' 2', ' 3', ' 4', ' 5', ' 6', ' 7', ' 8']

- Se crea un dataframe para cada archivo CSV en la carpeta 'Ratings'.

In [44]:
df_ratings1 = pd.read_csv(files_names[0])
df_ratings2 = pd.read_csv(files_names[1])
df_ratings3 = pd.read_csv(files_names[2])
df_ratings4 = pd.read_csv(files_names[3])
df_ratings5 = pd.read_csv(files_names[4])
df_ratings6 = pd.read_csv(files_names[5])
df_ratings7 = pd.read_csv(files_names[6])
df_ratings8 = pd.read_csv(files_names[7])

- Se concatenan todos los datasets de las clasificacions de los usuarios.

In [45]:
df_ratings_total = pd.concat([df_ratings1, df_ratings2, df_ratings3, df_ratings4, df_ratings5, df_ratings6, df_ratings7], axis=0)
df_ratings_total.head(2)

   userId  rating   timestamp movieId
0       1     1.0  1425941529   as680
1       1     4.5  1425942435  ns2186

- Se crea un csv con los ratings combinados.

In [46]:
df_ratings_total.to_csv('ETLcsvResults\\the_ratings.csv')

- Se crea un nuevo dataset basado en la agrupación de los datos idénticos en la columna 'movieId' y se hace un promedio de la columna 'rating'

In [47]:
df_ratings_mean = df_ratings_total.groupby('movieId', as_index=False)['rating'].mean()
df_ratings_mean.head(2)

  movieId    rating
0     as1  3.463048
1    as10  3.453229

- Se cambia el nombre de la columna 'id' en el dataframe de las plataformas por 'movieId' para que coincida con la columna 'movieId' del dataframe de ratings.

- También se cambia el nombre de la columna 'rating' en el dataframe de los promedios por 'score' para que no se causen confusiones al unir los dos dataframes.

In [48]:
df_total = df_total.rename(columns={'id': 'movieId'})
df_ratings_mean = df_ratings_mean.rename(columns={'rating': 'score'})
df_total.head(2)

,movieId,type,title,cast,release_year,rating,platform,duration_int,duration_type
0,as1,movie,the grand seduction,"brendan gleeson, taylor kitsch, gordon pinsent",2014,g,amazon prime,113,min
1,as2,movie,take care good night,"mahesh manjrekar, abhay mahajan, sachin khedekar",2018,13+,amazon prime,110,min

In [49]:
df_ratings_mean.head(2)

  movieId     score
0     as1  3.463048
1    as10  3.453229

- Se unen los dos dataframes (plataformas y promedios) por medio de la columna 'movieId'.

In [50]:
df_total_ratings = pd.merge(df_total, df_ratings_mean, on='movieId')
df_total_ratings.head(2)

,movieId,type,title,cast,release_year,rating,platform,duration_int,duration_type,score
0,as1,movie,the grand seduction,"brendan gleeson, taylor kitsch, gordon pinsent",2014,g,amazon prime,113,min,3.463048
1,as2,movie,take care good night,"mahesh manjrekar, abhay mahajan, sachin khedekar",2018,13+,amazon prime,110,min,3.566434

- Se cambian los valores de la columna 'duration_int' a 'int'

In [51]:
df_total_ratings['duration_int'] = df_total_ratings['duration_int'].astype(int)

- Se crea un csv con base en las columnas que han sido catalogadas como de utilidad para el ejercicio.

In [52]:
df_total_ratings.to_csv('ETLcsvResults\\the_movies.csv')

In [53]:
df_total_ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 22997
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movieId        22998 non-null  object
 1   type           22998 non-null  object
 2   title          22998 non-null  object
 3   cast           22998 non-null  object
 4   release_year   22998 non-null  int64
 5   rating         22998 non-null  object
 6   platform       22998 non-null  object
 7   duration_int   22998 non-null  int32
 8   duration_type  22998 non-null  object
 9   score          22998 non-null  float64
dtypes: float64(1), int32(1), int64(1), object(7)
memory usage: 1.8+ MB

- Se definen las consultas de la API

 1. Película con mayor duración con filtros opcionales de AÑO, PLATAFORMA Y TIPO DE DURACIÓN. (la función debe llamarse get_max_duration(year, platform, duration_type))

In [54]:
def get_max_duration(year=None, platform=None, duration_type=None):
    df_duration = df_total_ratings.copy()
    if year:
        df_duration = df_duration[(df_duration['release_year'] == year) & (df_duration['type'] == 'movie')]
    if platform:
        df_duration = df_duration[(df_duration['platform'] == platform) & (df_duration['type'] == 'movie')]
    if duration_type:
        df_duration = df_duration[(df_duration['duration_type'] == duration_type) & (df_duration['type'] == 'movie')]

    max_duration = df_duration['duration_type'].max()
    movie_title = df_duration[df_duration['duration_type'] == max_duration]['title'].iloc[0]

    return f'La producción más larga según tus especificaciones es: {movie_title}.'
get_max_duration(platform='netflix')

'La producción más larga según tus especificaciones es: dick johnson is dead.'

 2. Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año (la función debe llamarse get_score_count(platform, scored, year))

In [55]:
def get_score_count(platform: str, scored: float, year:int):
    movies = df_total_ratings.copy()
    filtered_movies = movies[(movies['platform'] == platform) & (movies['release_year'] == year) & (movies['score'] > scored) & (movies['type'] == 'movie')] 

    count = filtered_movies['title'].count()

    return f'La cantidad de películas en {platform} con un puntaje mayor a {scored} que se produjeron en {year} son: {count}.'
get_score_count('netflix', 3.4, 2011)

'La cantidad de películas en netflix con un puntaje mayor a 3.4 que se produjeron en 2011 son: 144.'

3. Cantidad de películas por plataforma con filtro de PLATAFORMA. (La función debe llamarse get_count_platform(platform))

In [56]:
def get_count_platform(platform):
    count_platform = df_total_ratings.loc[(df_total_ratings["platform"] == platform) & (df_total_ratings["type"] == "movie"), "type"].value_counts()["movie"]
    
    return f'La cantidad de películas en la plataforma {platform} son: {count_platform}.'
get_count_platform('netflix')

'La cantidad de películas en la plataforma netflix son: 6131.'

4. Actor que más se repite según plataforma y año. (La función debe llamarse get_actor(platform, year))

- Para esta consulta se deben separar los actores de la columna 'cast'y crear un dataset con sus nombres.

In [57]:
#Se convierten los actores en listas dentro del dataframe
df_total_ratings['cast_'] = df_total_ratings['cast'].str.split("," or ":")
df_total_ratings.drop(columns=['cast'],inplace=True)
df_total_ratings.rename(columns={'cast_':'cast'},inplace=True)

#creación de dataframe con todos los actores
actors = []
for cast in df_total_ratings['cast']:
    for actor in cast:
        actors.append(actor)

df_actors = pd.DataFrame(actors)
df_actors.head(2)

                 0
0  brendan gleeson
1    taylor kitsch

- Se agregan la columna 'year' por el año en el que aparece y 'platform' por la plataforma en la que aparece.

In [58]:

dic_actors = {'actor':[],
                'year':[],
                'platform':[]} 
for index, actors in enumerate(df_total_ratings['cast']):
    for actor in actors:
        dic_actors['actor'].append(actor)
        dic_actors['year'].append(df_total_ratings['release_year'][index]) 
        dic_actors['platform'].append(df_total_ratings['platform'][index])  
df_actors = pd.DataFrame(dic_actors)

- Se eliminan los espacios del principio o del final de todos los nombres en el dataset.

- Se guarda el dataframe como CSV

In [59]:
df_actors['actor'] = df_actors['actor'].str.strip()
df_actors.to_csv('ETLcsvResults\\the_actors.csv')
df_actors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119713 entries, 0 to 119712
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   actor     119713 non-null  object
 1   year      119713 non-null  int64
 2   platform  119713 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.7+ MB

- Se define la función para obtener el actor que más se repite en cada plataforma dependiendo el año.

In [60]:

def get_actor(platform:str, year:int):
    data = df_actors[(df_actors['year']==year)&(df_actors['platform']==platform)]['actor']
    # return {data.value_counts().max()}
    if data.value_counts().index[0] == 'sin dato':
        actor = data.value_counts().index[1]
        times = data.value_counts()[1]
        return f'El actor que más se repite en {platform} en el año {year} es: {actor}, {times} veces.'
    elif data.value_counts().index[0] != 'sin dato':
        actor = data.value_counts().index[0]
        times = data.value_counts()[0]
        return f'El actor que más se repite {platform} en el año {year} es: {actor}, {times} veces.'
get_actor('netflix', 2010)

'El actor que más se repite en netflix en el año 2010 es: zoe saldana, 3 veces.'